[package]
name = "otap-df-otap"
description = "OTAP nodes"
version.workspace = true
authors.workspace = true
repository.workspace = true
license.workspace = true
publish.workspace = true
edition.workspace = true
rust-version.workspace = true

[lints]
workspace = true

[dependencies]
otap-df-engine = { path = "../engine" }
otap-df-channel = { path = "../channel" }
otap-df-otlp = { path = "../otlp" }
tonic = { version = "0.13.1", default-features = false, features = [
    "server",
    "channel",
    "router",
    "transport",
    "codegen",
    "prost",
    "zstd",
    "gzip",
    "deflate",
] }
prost = "0.13.5"
tokio-stream = "0.1.17"
async-stream = "0.3.6"
thiserror = { workspace = true }
serde_json = { workspace = true }
tokio = { workspace = true }
async-trait = { workspace = true }
linkme = { workspace = true }

[dev-dependencies]
portpicker = "0.1.1"