[package]
name = "otap-df-otap"
description = "OTAP nodes"
version.workspace = true
authors.workspace = true
repository.workspace = true
license.workspace = true
publish.workspace = true
edition.workspace = true
rust-version.workspace = true

[lints]
workspace = true

[dependencies]
arrow.workspace = true
arrow-ipc.workspace = true
async-trait.workspace = true
ciborium.workspace = true
futures.workspace = true
futures-timer.workspace = true
http.workspace = true
humantime-serde.workspace = true
log.workspace = true
object_store.workspace = true
otel-arrow-rust.workspace = true
otap-df-engine = { path = "../engine" }
otap-df-engine-macros = { path = "../engine-macros" }
otap-df-channel = { path = "../channel" }
otap-df-config = { path = "../config" }
otap-df-otlp = { path = "../otlp", features = ["test-utils"]}
otap-df-pdata-views = { path = "../pdata-views" }
otap-df-telemetry = { path = "../telemetry" }
otap-df-telemetry-macros = { path = "../telemetry-macros" }
parquet.workspace = true
tonic = { version = "0.13.1", default-features = false, features = [
    "server",
    "channel",
    "router",
    "transport",
    "codegen",
    "prost",
    "zstd",
    "gzip",
    "deflate",
] }
tower-service = "0.3"
fluke-hpack = "0.3.1"
serde = {version="1", features=["derive"]}
prost = "0.13.5"
tokio-stream = "0.1.17"
async-stream = "0.3.6"
thiserror = { workspace = true }
serde_cbor = { workspace = true }
serde_json = { workspace = true }
tokio = { workspace = true }
linkme = { workspace = true }
uuid.workspace = true
weaver_forge.workspace = true
weaver_common.workspace = true
humantime = "2.2.0"

[dev-dependencies]
portpicker = "0.1.1"
pretty_assertions = "1.4.1"
tempfile.workspace = true
url.workspace = true
