[package]
name = "otap-df-otap"
description = "OTAP nodes"
version.workspace = true
authors.workspace = true
repository.workspace = true
license.workspace = true
publish.workspace = true
edition.workspace = true
rust-version.workspace = true

[lints]
workspace = true

[dependencies]
arrow.workspace = true
arrow-ipc.workspace = true
async-trait.workspace = true
ciborium.workspace = true
futures.workspace = true
futures-timer.workspace = true
object_store.workspace = true
otel-arrow-rust.workspace = true
otap-df-traits = { path = "../traits" }
otap-df-engine = { path = "../engine" }
otap-df-channel = { path = "../channel" }
otap-df-otlp = { path = "../otlp" }
otap-df-pdata-views = { path = "../pdata-views" }
parquet.workspace = true
tonic = { version = "0.13.1", default-features = false, features = [
    "server",
    "channel",
    "router",
    "transport",
    "codegen",
    "prost",
    "zstd",
    "gzip",
    "deflate",
] }
sysinfo = "0.36.0"
byte-unit = "4"
fluke-hpack = "0.3.1"
serde = {version="1", features=["derive"]}
prost = "0.13.5"
tokio-stream = "0.1.17"
async-stream = "0.3.6"
thiserror = { workspace = true }
serde_cbor = { workspace = true }
serde_json = { workspace = true }
tokio = { workspace = true }
linkme = { workspace = true }
uuid.workspace = true

[dev-dependencies]
portpicker = "0.1.1"
tempfile.workspace = true
