settings:
  default_control_channel_size: 100
  default_pdata_channel_size: 100

nodes:
  receiver:
    kind: receiver
    plugin_urn: "urn:otel:otap:fake_data_generator"
    out_ports:
      out_port:
        destinations:
          - exporter
        dispatch_strategy: round_robin
    config:
      traffic_config:
        signals_per_second: 100000
        max_signal_count: null
        metric_weight: 0
        trace_weight: 0
        log_weight: 30
      registry_path: https://github.com/open-telemetry/semantic-conventions.git[model]


  exporter:
    kind: exporter
    plugin_urn: "urn:otel:otlp:exporter"
    config:
      grpc_endpoint: "http://127.0.0.1:4317"
      