# Shows the batch processor.
settings:
  default_pipeline_ctrl_msg_channel_size: 100
  default_node_ctrl_msg_channel_size: 100
  default_pdata_channel_size: 100
  telemetry:
    logs:
      level: debug
      providers:
        engine: console_async
        global: console_async
        admin:    console_direct
        internal: console_direct

nodes:
  generator:
    type: traffic_generator:receiver
    out_ports:
      out_port:
        destinations:
          - batch
        dispatch_strategy: round_robin
    config:
      traffic_config:
        max_signal_count: 10000
        max_batch_size: 10
        signals_per_second: 10
        log_weight: 100
      registry_path: https://github.com/open-telemetry/semantic-conventions.git[model]
  batch:
    type: batch:processor
    out_ports:
      out_port:
        destinations:
          - console
        dispatch_strategy: round_robin
    config:
      otap:
        min_size: 1000
        sizer: items
      format: preserve
      flush_timeout: 3s
  console:
    type: console:exporter
    config: {}
