version: otel_dataflow/v1
engine: { }
groups:
  default:
    pipelines:
      main:
        policies:
          channel_capacity:
            control:
              node: 100
              pipeline: 100
            pdata: 128

        nodes:
          receiver:
            type: traffic_generator:receiver
            config:
              traffic_config:
                max_batch_size: 100
                signals_per_second: 10
                log_weight: 100
              registry_path: https://github.com/open-telemetry/semantic-conventions.git[model]
          exporter:
            type: parquet:exporter
            config:
              storage:
                s3:
                  base_uri: s3://otel-test-bucket/telemetry
                  region: us-east-1
                  endpoint: http://localhost:4566
                  allow_http: true
                  virtual_hosted_style_request: false
                  auth:
                    type: static_credentials
                    access_key_id: test
                    secret_access_key: test
              partitioning_strategies:
                - schema_metadata: ["_part_id"]
              writer_options:
                flush_when_older_than: 10s

        connections:
          - from: receiver
            to: exporter
