version: otel_dataflow/v1
engine: {}
groups:
  default:
    pipelines:
      main:
        settings:
          default_pipeline_ctrl_msg_channel_size: 100
          default_node_ctrl_msg_channel_size: 100
          default_pdata_channel_size: 100
        
        nodes:
          receiver:
            type: traffic_generator:receiver
            config:
              traffic_config:
                max_batch_size: 1000
                signals_per_second: 30
                log_weight: 100
              registry_path: https://github.com/open-telemetry/semantic-conventions.git[model]
          exporter:
            type: parquet:exporter
            config:
              storage:
                file:
                  base_uri: /tmp
              partitioning_strategies:
              - schema_metadata: ["_part_id"]
              writer_options:
                flush_when_older_than: 10s
        
        connections:
          - from: receiver
            to: exporter
