# Shows the batch processor.
settings:
  default_pipeline_ctrl_msg_channel_size: 100
  default_node_ctrl_msg_channel_size: 100
  default_pdata_channel_size: 100

nodes:
  receiver:
    kind: receiver
    plugin_urn: "urn:otel:otap:fake_data_generator:receiver"
    out_ports:
      out_port:
        destinations:
          - batch
        dispatch_strategy: round_robin
    config:
      traffic_config:
        max_signal_count: 10000
        max_batch_size: 1
        signals_per_second: 1
        log_weight: 100
      registry_path: https://github.com/open-telemetry/semantic-conventions.git[model]
  batch:
    kind: processor
    plugin_urn: "urn:otel:batch:processor"
    out_ports:
      out_port:
        destinations:
          - console
        dispatch_strategy: round_robin
    config:
      otap:
        min_size: 1000
        sizer: items
      format: otap
      flush_timeout: 3s
  console:
    kind: exporter
    plugin_urn: "urn:otel:console:exporter"
    config: {}

service:
  telemetry:
    logs:
      level: debug
      providers:
        engine: console_async
        admin: console_direct
        global: console_async
        internal: console_direct
