version: otel_dataflow/v1
engine: {}
groups:
  default:
    pipelines:
      main:
        policies:
          flow:
            channel_capacity:
              control:
                node: 100
                pipeline: 100
              pdata: 128

        nodes:
          receiver:
            type: traffic_generator:receiver
            config:
              traffic_config:
                signals_per_second: 100000
                max_signal_count: null
                metric_weight: 0
                trace_weight: 0
                log_weight: 30
              registry_path: https://github.com/open-telemetry/semantic-conventions.git[model]
          exporter:
            type: otap:exporter
            config:
              grpc_endpoint: "http://127.0.0.1:4327"
        
        connections:
          - from: receiver
            to: exporter
