version: otel_dataflow/v1
policies:
  channel_capacity:
      control:
        node: 256
        pipeline: 256
      pdata: 128
engine:
  telemetry:
    logs:
      level: "debug"
      providers:
        global: its
        engine: its
        internal: console_direct
        admin: its
    resource:
      service.id: 1234
      service.name: test
  observability:
    pipeline:
      policies:
        channel_capacity:
            control:
              node: 64
              pipeline: 64
            pdata: 64
        telemetry:
          pipeline_metrics: false
          tokio_metrics: false
          channel_metrics: false
      # Internal telemetry pipeline
      # Runs on a single thread (controller-managed) and can use dedicated policies.
      nodes:
        telemetry:
          type: "internal_telemetry:receiver"
          config: {}
        console:
          type: "console:exporter"
          config: {}
      connections:
        - from: telemetry
          to: console
groups:
  default:
    pipelines:
      main:
        nodes:
          generator:
            type: traffic_generator:receiver
            config:
              traffic_config:
                max_signal_count: 100000
                max_batch_size: 1000
                signals_per_second: 1000
                log_weight: 100
              registry_path: https://github.com/open-telemetry/semantic-conventions.git[model]
            telemetry_attributes:
              pipeline_name:
                value: "MyCustomPipelineName"
                brief: "Custom pipeline name for identification" # optional
              node_sequence: 1
          noop:
            type: noop:exporter
            config: {}
            telemetry_attributes:
              pipeline_name:
                value: "MyCustomPipelineName"
                brief: "Custom pipeline name for identification" # optional
              node_sequence: 2
        connections:
          - from: generator
            to: noop
