version: otel_dataflow/v1
engine: {}
groups:
  default:
    pipelines:
      main:
        settings:
          default_pipeline_ctrl_msg_channel_size: 100
          default_node_ctrl_msg_channel_size: 100
          default_pdata_channel_size: 100
        
        nodes:
          receiver:
            type: otap:receiver
            config:
              listening_addr: "127.0.0.1:4318"
              response_stream_channel_size: 256
          perf:
            type: perf:exporter
            config:
              frequency: 5000
              cpu_usage: false
              memory_usage: false
              disk_usage: false
              io_usage: false
        
        connections:
          - from: receiver
            to: perf
