settings:
  default_pipeline_ctrl_msg_channel_size: 100
  default_node_ctrl_msg_channel_size: 100
  default_pdata_channel_size: 100

nodes:
  otlp_recv:
    type: otap:receiver
    out_ports:
      out_port:
        destinations:
          - router
        dispatch_strategy: round_robin
    config:
      listening_addr: "127.0.0.1:4327"
      wait_for_result: true
      response_stream_channel_size: 256 # Required: channel buffer capacity (number of messages)

  otap_recv:
    type: otap:receiver
    out_ports:
      out_port:
        destinations:
          - otap_exporter
        dispatch_strategy: round_robin
    config:
      listening_addr: "127.0.0.1:4329"
      response_stream_channel_size: 256

  router:
    type: type_router:processor
    out_ports:
      logs:
        destinations:
          - retry
        dispatch_strategy: round_robin
      metrics:
        destinations:
          - metrics_exporter
        dispatch_strategy: round_robin
      traces:
        destinations:
          - spans_exporter
        dispatch_strategy: round_robin
    config: {}

#  logs_filter:
#    type: filter:processor
#    out_ports:
#      out_port:
#        destinations:
#          - logs_exporter
#        dispatch_strategy: round_robin
#    config:
#      logs:
#        include:
#          match_type: strict
#          record_attributes:
#            - key: gen_ai.system
#              value: openai
#            - key: ios.app.state
#              value: active

  retry:
    type: retry:processor
    out_ports:
      out_port:
        destinations:
          - logs_exporter
        dispatch_strategy: round_robin
    config:
      multiplier: 1.5

  logs_exporter:
    type: otap:exporter
    config:
      grpc_endpoint: "http://127.0.0.1:4328"

  metrics_exporter:
    type: noop:exporter
    config:

  spans_exporter:
    type: noop:exporter
    config:

  otap_exporter:
    type: noop:exporter
    config:
