  settings:
    default_pipeline_ctrl_msg_channel_size: 100
    default_node_ctrl_msg_channel_size: 100
    default_pdata_channel_size: 100

  nodes:
    receiver:
      kind: receiver
      plugin_urn: "urn:otel:otlp:receiver"
      out_ports:
        out_port:
          destinations:
            - exporter
          dispatch_strategy: round_robin
      config:
        listening_addr: "127.0.0.1:4317"
        tls:
          cert_file: "./test-certs/server.crt"
          key_file: "./test-certs/server.key"

    exporter:
      kind: exporter
      plugin_urn: "urn:otel:otlp:exporter"
      config:
        grpc_endpoint: "https://127.0.0.1:4319"
        tls:
          ca_file: "./test-certs/ca.crt"
          include_system_ca_certs_pool: false
