bin/
dist/

# GoLand IDEA
/.idea/
*.iml

# VS Code
.vscode/
.devcontainer/

# Emacs
*~
\#*\#

# Miscellaneous files
*.sw[op]
*.DS_Store

# Go work sum can break things if checked-in. It cannot be checked-in with its own sum.
go.work.sum

# Coverage
coverage.out
coverage.txt
coverage.html

# Wix
*.wixobj
*.wixpdb

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Benchmarks output
/output/

# PerfTest pipeline output
/tools/pipeline_perf_test/results/

# Collector test binary
collector/cmd/otelarrowcol/otelarrowcol
