#####################################################
#
# List of approvers for this repository
#
#####################################################
#
# Learn about membership in OpenTelemetry community:
#  https://github.com/open-telemetry/community/blob/main/community-membership.md
#
#
# Learn about CODEOWNERS file format:
#  https://help.github.com/en/articles/about-code-owners
#

* @open-telemetry/arrow-approvers

# OTAP Dataflow runtime architecture
/rust/otap-dataflow/crates/ @open-telemetry/arrow-maintainers
/rust/otap-dataflow/crates/telemetry*/ @lquerel @jmacd @drewrelmas @cijothomas
/rust/otap-dataflow/crates/pdata*/ @lquerel @jmacd @albertlockett @JakeDern
/rust/otap-dataflow/crates/query-engine*/ @lquerel @jmacd @albertlockett
/rust/otap-dataflow/crates/quiver/ @lquerel @jmacd @AaronRM
/rust/otap-dataflow/crates/wasm-host/ @lquerel @jmacd @AaronRM
/rust/otap-dataflow/src/ @lquerel @jmacd

/CODEOWNERS @lquerel @jmacd
