go 1.21.3

use (
	.
	./collector
	./collector/cmd/otelarrowcol
	./collector/connector/validationconnector
	./collector/exporter/fileexporter
	./collector/exporter/otelarrowexporter
	./collector/processor/experimentprocessor
	./collector/processor/obfuscationprocessor
	./collector/receiver/filereceiver
	./collector/receiver/otelarrowreceiver
)
