go 1.21

toolchain go1.21.4

use (
	.
	./collector
	./collector/cmd/otelarrowcol
	./collector/connector/validationconnector
	./collector/examples/printer
	./collector/exporter/fileexporter
	./collector/exporter/otelarrowexporter
	./collector/processor/concurrentbatchprocessor
	./collector/processor/experimentprocessor
	./collector/processor/obfuscationprocessor
	./collector/receiver/filereceiver
	./collector/receiver/otelarrowreceiver
)
