go 1.22.1

use (
	.
	./collector
	./collector/cmd/otelarrowcol
	./collector/connector/validationconnector
	./collector/examples/printer
	./collector/exporter/fileexporter
	./collector/exporter/otelarrowexporter
	./collector/extension/blockingmemorylimiterextension
	./collector/processor/concurrentbatchprocessor
	./collector/processor/experimentprocessor
	./collector/processor/obfuscationprocessor
	./collector/receiver/filereceiver
	./collector/receiver/otelarrowreceiver
)
