[package]
name = "otap-df-telemetry"
description = "Type-safe and NUMA-aware telemetry SDK"
version.workspace = true
authors.workspace = true
repository.workspace = true
license.workspace = true
publish.workspace = true
edition.workspace = true
rust-version.workspace = true

[lints]
workspace = true

[features]
testing = []
unsafe-optimizations = ["unchecked-index", "unchecked-arithmetic"]
unchecked-index = []
unchecked-arithmetic = []

[dependencies]
otap-df-pdata = { workspace = true }
otap-df-config = { workspace = true }

axum = { workspace = true }
bytes = { workspace = true }
chrono = { workspace = true }
flume = { workspace = true }
tokio = { workspace = true }
tokio-util = { workspace = true }
serde_yaml = { workspace = true }
thiserror = { workspace = true }
slotmap = { workspace = true }
parking_lot = { workspace = true }
prometheus = { workspace = true }
serde = { workspace = true }
tonic = { workspace = true, optional = true }
opentelemetry = { workspace = true }
opentelemetry_sdk = { workspace = true }
opentelemetry-stdout = { workspace = true }
opentelemetry-otlp = { workspace = true, features = ["grpc-tonic", "tls", "metrics", "logs"] }
opentelemetry-prometheus = { workspace = true }
opentelemetry-appender-tracing = { workspace = true }
tracing = { workspace = true }
tracing-subscriber = { workspace = true, features = ["env-filter","registry", "std", "fmt"] }

[dev-dependencies]
tower = { workspace = true }
tempfile = { workspace = true }
