[package]
name = "otap-df-telemetry"
description = "Type-safe and NUMA-aware telemetry SDK"
version.workspace = true
authors.workspace = true
repository.workspace = true
license.workspace = true
publish.workspace = true
edition.workspace = true
rust-version.workspace = true

[lints]
workspace = true

[features]
testing = []
unsafe-optimizations = ["unchecked-index", "unchecked-arithmetic"]
unchecked-index = []
unchecked-arithmetic = []

[dependencies]
otap-df-config = { workspace = true }
flume = { workspace = true }
tokio = { workspace = true }
tokio-util = { workspace = true }
serde_yaml = { workspace = true }
thiserror = { workspace = true }
slotmap = { workspace = true }
parking_lot = { workspace = true }
serde = { workspace = true }
opentelemetry_sdk = "0.31.0"
opentelemetry-stdout = "0.31.0"
opentelemetry = "0.31.0"
