receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
  syslog/tcp:
    protocol: rfc3164
    tcp:
      listen_address: "0.0.0.0:514"
  syslog/udp:
    protocol: rfc3164
    udp:
      listen_address: "0.0.0.0:515"

exporters:
  debug:
  otlp:
    endpoint: backend-service:5317
    tls:
      insecure: true

service:
  telemetry:
    metrics:
      readers:
        - pull:
            exporter:
              prometheus:
                host: '0.0.0.0'
                port: 8888
  pipelines:
    traces:
      receivers: [otlp]
      exporters: [debug]
    metrics:
      receivers: [otlp]
      exporters: [debug]
    logs:
      receivers: [otlp, syslog/tcp, syslog/udp]
      exporters: [otlp]
