[package]
name = "otap-df-pdata-otlp-model"
version.workspace = true
authors.workspace = true
edition.workspace = true
repository.workspace = true
license.workspace = true
publish.workspace = true
rust-version.workspace = true

[lib]

[dependencies]
tonic-prost-build = "0.14"
