version: otel_dataflow/v1
policies:
  channel_capacity:
    control:
      node: 100
      pipeline: 100
    pdata: 100
engine:
  telemetry:
    logs:
      level: info
groups:
  default:
    pipelines:
      main:
        nodes:
          receiver:
            type: urn:otel:otlp:receiver
            config:
              protocols:
                grpc:
                  listening_addr: 0.0.0.0:4317
                  request_compression: gzip
          attr:
            type: urn:otel:attribute:processor
            config:
              actions:
              - action: rename
                source_key: ios.app.state
                destination_key: ios.app.state2
                apply_to:
                - signal
          exporter:
            type: urn:otel:otap:exporter
            config:
              grpc_endpoint: http://{{backend_hostname}}:1235
              compression_method: zstd
              arrow:
                payload_compression: none
        connections:
        - from: receiver
          to: attr
        - from: attr
          to: exporter
