[package]
name = "otap-df-contrib-nodes"
description = "OTAP Contrib nodes"
version.workspace = true
authors.workspace = true
repository.workspace = true
license.workspace = true
publish.workspace = true
edition.workspace = true
rust-version.workspace = true

[lints]
workspace = true

[dependencies]
# Workspace crates (likely used by most/all features)
otap-df-config = { path = "../config" }
otap-df-engine = { path = "../engine" }
otap-df-engine-macros = { path = "../engine-macros" }
otap-df-otap = { path = "../otap" }
otap-df-pdata = { path = "../pdata" }
otap-df-telemetry = { path = "../telemetry" }
otap-df-channel = { path = "../channel" }
otap-df-telemetry-macros = { path = "../telemetry-macros" }

arrow.workspace = true
async-trait.workspace = true
futures.workspace = true
tokio.workspace = true
bytes.workspace = true
prost.workspace = true
serde.workspace = true
serde_json.workspace = true
thiserror.workspace = true
linkme.workspace = true
chrono = { workspace = true, optional = true }
geneva-uploader = { version = "0.4.0", optional = true }
opentelemetry-proto = { workspace = true, optional = true }
data_engine_recordset = { path = "../../../experimental/query_engine/engine-recordset", optional = true }
data_engine_recordset_otlp_bridge = { path = "../../../experimental/query_engine/engine-recordset-otlp-bridge", optional = true }
ahash = { workspace = true, optional = true }
azure_core = { workspace = true, optional = true, features = ["reqwest"] }
azure_identity = { workspace = true, optional = true }
flate2 = { workspace = true, optional = true }
http = { workspace = true, optional = true }
rand = { workspace = true, optional = true }
reqwest = { workspace = true, optional = true, features = ["rustls"] }
sysinfo = { workspace = true, optional = true }

[features]
contrib-exporters = []
geneva-exporter = [
    "contrib-exporters",
    "dep:geneva-uploader",
    "dep:opentelemetry-proto",
]
azure-monitor-exporter = [
    "contrib-exporters",
    "dep:opentelemetry-proto",
    "dep:azure_identity",
    "dep:reqwest",
    "dep:azure_core",
    "dep:ahash",
    "dep:sysinfo",
    "dep:chrono",
    "dep:flate2",
    "dep:http",
    "dep:rand",
]

contrib-processors = []
condense-attributes-processor = ["contrib-processors"]
recordset-kql-processor = [
    "contrib-processors",
    "dep:data_engine_recordset_otlp_bridge",
    "dep:data_engine_recordset",
    "dep:chrono",
]
resource-validator-processor = ["contrib-processors"]

[dev-dependencies]
otap-df-engine = { path = "../engine", features = ["test-utils"] }
otap-df-otap = { path = "../otap", features = ["test-utils"] }
pretty_assertions.workspace = true
wiremock.workspace = true
