# Dependencies for the pipeline performance test orchestrator

# General dependencies
requests==2.33.1
pyyaml==6.0.3
pydantic==2.13.3

# Docker management
docker==7.1.0
psutil==7.2.2

# Kubernetes management
kubernetes==35.0.0

# Other dependencies
duckdb==1.5.2
jinja2==3.1.6
opentelemetry-exporter-otlp==1.41.1
opentelemetry-sdk==1.41.1
opentelemetry-proto==1.41.1
prometheus_client==0.25.0
pandas==3.0.2
pyarrow==24.0.0
tabulate==0.10.0