settings:
  default_pipeline_ctrl_msg_channel_size: 100
  default_node_ctrl_msg_channel_size: 100
  default_pdata_channel_size: 100


{% set exporter_type = loadgen_exporter_type | default("otap") %}
{% if exporter_type == "otap" %}
  {% set plugin_urn = "urn:otel:otap:exporter" %}
{% else %}
  {% set plugin_urn = "urn:otel:otlp:exporter" %}

nodes:
  receiver:
    kind: receiver
    plugin_urn: "urn:otel:otap:fake_data_generator:receiver"
    out_ports:
      out_port:
        destinations:
          - suv_exporter
          - control_exporter
        dispatch_strategy: broadcast
    config:
      traffic_config:
        max_signal_count: 2000
        max_batch_size: 100
        signals_per_second: 100
        metric_weight: 0
        trace_weight: 0
        log_weight: 100
      registry_path: https://github.com/open-telemetry/semantic-conventions.git[model]

  suv_exporter:
    kind: exporter
    plugin_urn: "{{ plugin_urn }}"
    config:
      grpc_endpoint: "http://127.0.0.1:4317"

  control_exporter:
    kind: exporter
    plugin_urn: "urn:otel:otlp:exporter"
    config:
      grpc_endpoint: "http://127.0.0.1:4317"