settings:
  default_pipeline_ctrl_msg_channel_size: 100
  default_node_ctrl_msg_channel_size: 100
  default_pdata_channel_size: 100
nodes:
  receiver:
    type: urn:otel:otap:receiver
    config:
      listening_addr: 0.0.0.0:4317
      response_stream_channel_size: 100
      compression_method: zstd
  filter:
    type: urn:otel:filter:processor
    config:
      logs:
        include:
          match_type: strict
          record_attributes:
          - key: ios.app.state
            value: active
  exporter:
    type: urn:otel:otap:exporter
    config:
      grpc_endpoint: http://{{backend_hostname}}:1235
      compression_method: zstd
      arrow:
        payload_compression: none
connections:
- from: receiver
  to: filter
- from: filter
  to: exporter
service:
  telemetry:
    logs:
      level: info
