settings:
  default_pipeline_ctrl_msg_channel_size: 100
  default_node_ctrl_msg_channel_size: 100
  default_pdata_channel_size: 100

nodes:
  receiver:
    kind: receiver
    plugin_urn: "urn:otel:otap:receiver"
    out_ports:
      out_port:
        destinations:
          - filter
        dispatch_strategy: round_robin
    config:
      listening_addr: "0.0.0.0:4317"
      response_stream_channel_size: 100
      compression_method: zstd

  filter:
    kind: processor
    plugin_urn: "urn:otel:filter:processor"
    out_ports:
      out_port:
        destinations:
          - exporter
        dispatch_strategy: round_robin
    config:
      logs:
        exclude:
          match_type: strict
          resource_attributes:
            - key: fake_data_generator
              value: v0
          record_attributes:
            - key: fake_data_generator
              value: v0
          severity_texts:
            - WARN
          severity_number: null
          bodies:
            - body_text
        include:
          match_type: strict
          resource_attributes:
            - key: fake_data_generator
              value: v1
          record_attributes:
            - key: gen_ai.system
              value: openai
            - key: ios.app.state
              value: active
          severity_texts: []
          severity_number: null
          bodies: []
        log_record: []

  exporter:
    kind: exporter
    plugin_urn: "urn:otel:otlp:exporter"
    config:
      grpc_endpoint: "http://{{backend_hostname}}:1235"
      compression_method: gzip
