version: otel_dataflow/v1
policies:
  channel_capacity:
    control:
      node: 100
      pipeline: 100
    pdata: 100
engine:
  telemetry:
    logs:
      level: info
groups:
  default:
    pipelines:
      main:
        nodes:
          receiver:
            type: urn:otel:otap:receiver
            config:
              listening_addr: 0.0.0.0:4317
              response_stream_channel_size: 100
              compression_method: zstd
          filter:
            type: urn:otel:filter:processor
            config:
              logs:
                include:
                  match_type: strict
                  record_attributes:
                  - key: ios.app.state
                    value: active
          exporter:
            type: urn:otel:otap:exporter
            config:
              grpc_endpoint: http://{{backend_hostname}}:1235
              compression_method: zstd
              arrow:
                payload_compression: none
        connections:
        - from: receiver
          to: filter
        - from: filter
          to: exporter
