[package]
name = "benchmarks"
version.workspace = true
authors.workspace = true
edition.workspace = true
repository.workspace = true
license.workspace = true
publish.workspace = true
rust-version.workspace = true

[dependencies]
tokio.workspace = true
serde_json.workspace = true

[dev-dependencies]
criterion = { workspace = true, features = ["html_reports", "async_tokio"] }
mimalloc = "0.1.46"
otap-df-config = { path = "../crates/config" }
otap-df-channel = { path = "../crates/channel" }
futures-channel = "0.3"
futures = "0.3.31"
flume = "0.11.1"
core_affinity = "0.8.3"

[lints]
workspace = true

[[bench]]
name = "config"
harness = false

[[bench]]
name = "channel"
harness = false

[profile.bench]
opt-level = 3
debug = false
incremental = false
lto = "fat"
codegen-units = 1
panic = "abort"
