[package]
name = "benchmarks"
version.workspace = true
authors.workspace = true
edition.workspace = true
repository.workspace = true
license.workspace = true
publish.workspace = true
rust-version.workspace = true

[dependencies]
tokio.workspace = true
serde_json.workspace = true

[dev-dependencies]
criterion = { workspace = true, features = ["html_reports", "async_tokio"] }
mimalloc = "0.1.46"
otap-df-config = { path = "../crates/config" }
otap-df-channel = { path = "../crates/channel" }
otap-df-engine = { path = "../crates/engine"}
otap-df-perf = { path="../crates/perf_exporter"}
otap-df-otap = { path="../crates/otap"}
otap-df-otlp = { path="../crates/otlp"}
fluke-hpack = "0.3.1"
futures-channel = "0.3"
futures = "0.3.31"
flume = "0.11.1"
core_affinity = "0.8.3"
local-sync = "0.1.1"
async-unsync = "0.3.0"
unsync = "0.1.2"
tonic = "0.13.1"
portpicker = "0.1.1"
[lints]
workspace = true

[[bench]]
name = "config"
harness = false

[[bench]]
name = "channel"
harness = false

[[bench]]
name = "exporter"
harness = false

[profile.bench]
opt-level = 3
debug = false
incremental = false
lto = "fat"
codegen-units = 1
panic = "abort"
