version: otel_dataflow/v1
# This configuration file reproduces the continuous benchmarking setup used
# in our CI pipelines. However, the systems: traffic generator, system under
# test, and backend are all included in a single configuration for easier
# local testing and debugging.

# Engine-wide settings
engine:
  http_admin:
    bind_address: 127.0.0.1:8085

# Pipeline groups are used to logically separate different sets of
# pipelines. We will introduce progressively more features around
# pipeline groups in the future such as resource quotas, scheduling
# policies, named channels, group life-cycle management, ...
groups:
  # This group contains all the pipelines required for continuous benchmarking
  continuous_benchmark:
    pipelines:
      # ======================================================================
      # Pipelines generating traffic
      # ======================================================================
      # First group of traffic generators based a static pre-generated dataset
      traffic_gen1:
        quota:
          core_allocation:
            type: core_count
            count: 15

        nodes:
          receiver:
            type: traffic_generator:receiver
            config:
              data_source: static
              generation_strategy: pre_generated
              traffic_config:
                signals_per_second: 150000
                max_signal_count: null
                metric_weight: 0
                trace_weight: 0
                log_weight: 30
          exporter:
            type: otlp:exporter
            config:
              grpc_endpoint: "http://127.0.0.1:4327"
      # Second group of traffic generators based on on-the-fly data generation
      # derived from semantic conventions

        connections:
          - from: receiver
            to: exporter

      traffic_gen2:
        quota:
          core_allocation:
            type: core_set
            set:
              - type: CoreRange
                start: 21
                end: 35

        nodes:
          receiver:
            type: traffic_generator:receiver
            config:
              traffic_config:
                signals_per_second: 100000
                max_signal_count: null
                metric_weight: 0
                trace_weight: 0
                log_weight: 30
              registry_path: https://github.com/open-telemetry/semantic-conventions.git[model]
          exporter:
            type: otlp:exporter
            config:
              grpc_endpoint: "http://127.0.0.1:4337"

      # ======================================================================
      # System Under Test pipeline
      # ======================================================================

        connections:
          - from: receiver
            to: exporter
      sut:
        quota:
          core_allocation:
            type: core_set
            set:
              - type: CoreRange
                start: 0
                end: 1
        nodes:
          otlp_recv1:
            type: otlp:receiver
            config:
              protocols:
                grpc:
                  listening_addr: "127.0.0.1:4327"
                  wait_for_result: true
          otlp_recv2:
            type: otlp:receiver
            config:
              protocols:
                grpc:
                  listening_addr: "127.0.0.1:4337"
                  wait_for_result: true

          router:
            type: type_router:processor
            outputs: ["logs", "metrics", "traces"]
            config: {}

          retry:
            type: retry:processor
            config:
              multiplier: 1.5

          logs_exporter:
            type: otlp:exporter
            config:
              grpc_endpoint: "http://127.0.0.1:4328"
              max_in_flight: 6

          metrics_exporter:
            type: noop:exporter
            config:

          spans_exporter:
            type: noop:exporter
            config:


      # ======================================================================
      # Performance No-Op pipeline to measure receiver performance
      # ======================================================================

        connections:
          - from: otlp_recv1
            to: router
          - from: otlp_recv2
            to: router
          - from: router["logs"]
            to: retry
          - from: router["metrics"]
            to: metrics_exporter
          - from: router["traces"]
            to: spans_exporter
          - from: retry
            to: logs_exporter

      backend:
        quota:
          core_allocation:
            type: core_set
            set:
              - type: CoreRange
                start: 1
                end: 1

        nodes:
          receiver:
            type: otlp:receiver
            config:
              protocols:
                grpc:
                  listening_addr: 127.0.0.1:4328

          perf_noop:
            type: noop:exporter
            config: null

        connections:
          - from: receiver
            to: perf_noop
