settings:
  default_pipeline_ctrl_msg_channel_size: 100
  default_node_ctrl_msg_channel_size: 100
  default_pdata_channel_size: 100

nodes:
  receiver:
    kind: receiver
    plugin_urn: "urn:otel:otlp:receiver"
    out_ports:
      out_port:
        destinations:
          - exporter
        dispatch_strategy: round_robin
    config:
      protocols:
        grpc:
          listening_addr: "0.0.0.0:4317"
          request_compression: gzip
          wait_for_result: true

  exporter:
    kind: exporter
    plugin_urn: "urn:otel:otlp:exporter"
    config:
      grpc_endpoint: "http://{{backend_hostname}}:1235"
      compression_method: gzip

service:
  telemetry:
    logs:
      level: "info"
