version: otel_dataflow/v1
policies:
  channel_capacity:
    control:
      node: 100
      pipeline: 100
    pdata: 100
engine:
  telemetry:
    logs:
      level: info
groups:
  default:
    pipelines:
      main:
        nodes:
          receiver:
            type: urn:otel:otlp:receiver
            config:
              protocols:
                grpc:
                  listening_addr: 0.0.0.0:4317
                  request_compression: gzip
                  wait_for_result: true
          exporter:
            type: urn:otel:otlp:exporter
            config:
              grpc_endpoint: http://{{backend_hostname}}:1235
              compression_method: gzip
        connections:
        - from: receiver
          to: exporter
