settings:
  default_pipeline_ctrl_msg_channel_size: 100
  default_node_ctrl_msg_channel_size: 100
  default_pdata_channel_size: 100
nodes:
  receiver:
    type: urn:otel:otlp:receiver
    config:
      protocols:
        grpc:
          listening_addr: 0.0.0.0:4317
          request_compression: gzip
          wait_for_result: true
  exporter:
    type: urn:otel:otlp:exporter
    config:
      grpc_endpoint: http://{{backend_hostname}}:1235
      compression_method: gzip
connections:
- from: receiver
  to: exporter
service:
  telemetry:
    logs:
      level: info
