[package]
name = "otap-df-otlp"
description = "OTLP nodes"
version.workspace = true
authors.workspace = true
repository.workspace = true
license.workspace = true
publish.workspace = true
edition.workspace = true
rust-version.workspace = true

[lints]
workspace = true

[dependencies]
otap-df-engine = { path = "../engine", features = ["testing"] }
otap-df-channel = { path = "../channel" }
weaver_forge = { git = "https://github.com/open-telemetry/weaver.git", tag = "v0.16.1"}
weaver_semconv = { git = "https://github.com/open-telemetry/weaver.git", tag = "v0.16.1"}
weaver_resolved_schema = { git = "https://github.com/open-telemetry/weaver.git", tag = "v0.16.1"}
otap-df-engine-macros = { path = "../engine-macros" }
otap-df-config = { path = "../config" }

# gRPC and Protocol Buffers
tonic = { version = "0.13.1", default-features = false, features = [
    "server", "channel", "router", "transport", "codegen", 
    "prost", "zstd", "gzip", "deflate"
] }
prost = "0.13.5"
prost-types = "0.13.5"
hex = "0.4.3"
linkme = "0.3.33"
rand = "0.9.1"
serde_yaml = "0.9.34"
# Workspace dependencies
thiserror.workspace = true
serde_json.workspace = true
serde.workspace = true
tokio.workspace = true
async-trait.workspace = true
otel-arrow-rust.workspace = true
futures.workspace = true
log.workspace = true

[build-dependencies]
tonic-build = { version = "0.13.1", features = ["cleanup-markdown"] }
linkme = { workspace = true }

[dev-dependencies]
portpicker = "0.1.1"