[package]
name = "otap-df-otlp"
description = "OTLP nodes"
version.workspace = true
authors.workspace = true
repository.workspace = true
license.workspace = true
publish.workspace = true
edition.workspace = true
rust-version.workspace = true

[lints]
workspace = true

[dependencies]
otap-df-engine = { path = "../engine" }
otap-df-channel = { path = "../channel" }
tonic = { version = "0.12.3", default-features = false, features = [
    "server",
    "codegen",
] }
prost = "0.13.5"
prost-derive = "0.13.5"
thiserror.workspace = true
serde_json.workspace = true
tokio.workspace = true
async-trait.workspace = true

[build-dependencies]
tonic-build = { version = "0.12.3", features = ["cleanup-markdown"] }


thiserror = { workspace = true }
