[package]
name = "syslog-cef"
description = "Syslog CEF receiver node"
version.workspace = true
authors.workspace = true
repository.workspace = true
license.workspace = true
publish.workspace = true
edition.workspace = true
rust-version.workspace = true

[lints]
workspace = true

[dependencies]
otap-df-engine = { path = "../engine", features = ["testing"] }
otap-df-channel = { path = "../channel" }

# Workspace dependencies
async-trait.workspace = true
serde_json.workspace = true
tokio.workspace = true

[dev-dependencies]
portpicker = "0.1.1"