
{% set suv_exporter_type = suv_exporter_type | default("otlp") -%}
{% set suv_exporter_plugin_urn = "urn:otel:exporter:otlp_grpc" -%}
{% if suv_exporter_type == "otap" -%}
  {% set suv_exporter_plugin_urn = "urn:otel:exporter:otap" -%}
{% endif -%}
{% set control_ports = control_ports | default([]) -%}
{% set max_signal_count = max_signal_count | default(2000) -%}
{% set max_batch_size = max_batch_size | default(100) -%}
{% set signals_per_second = signals_per_second | default(100) -%}
{% set metric_weight = metric_weight | default(0) -%}
{% set trace_weight = trace_weight | default(0) -%}
{% set log_weight = log_weight | default(100) -%}
{% set suv_port = suv_port | default(4317) -%}
{% set generator_label = generator_label | default("traffic_generator") -%}
{% set generator_core_start = generator_core_start | default(2) -%}
{% set generator_core_end = generator_core_end | default(2) -%}
{% set data_source = data_source | default(static) %}

{{ generator_label }}:
  policies:
    resources:
      core_allocation:
        type: core_set
        set:
          - start: {{ generator_core_start }}
            end: {{ generator_core_end }}
  nodes:
{{ generator_label | indent(4, true)}}:
      type: "urn:otel:receiver:traffic_generator"
      config:
        data_source: {{ data_source }}
        traffic_config:
          max_signal_count: {{ max_signal_count }}
          max_batch_size: {{ max_batch_size }}
          signals_per_second: {{ signals_per_second }}
          metric_weight: {{ metric_weight }}
          trace_weight: {{ trace_weight }}
          log_weight: {{ log_weight }}
        registry_path: https://github.com/open-telemetry/semantic-conventions.git[model]
    fanout:
      type: "urn:otel:processor:fanout_temp"
      outputs: 
        - "suv_port"
{% for _ in control_ports %}
        - "control_port{{ loop.index }}"
{% endfor %}
      config:
{% if custom_suv_exporter %}
    suv_exporter:
{{ custom_suv_exporter | indent(6, true) }}
{% else %}
    suv_exporter:
      type: {{ suv_exporter_plugin_urn }}
      config:
{% if tls_enabled %}
        grpc_endpoint: https://127.0.0.1:{{ suv_port }}
{% else %}
        grpc_endpoint: http://127.0.0.1:{{ suv_port }}
{% endif %}
{% if suv_exporter_type == "otap" -%}
        compression_method: none
        arrow:
          payload_compression: none
{% endif %}
{% if tls_enabled %}
        tls:
          ca_file: '{{ tls_ca_cert }}'
          include_system_ca_certs_pool: false
          server_name_override: '{{ tls_server_name }}'
{% if mtls_enabled %}
          cert_file: '{{ tls_client_cert }}'
          key_file: '{{ tls_client_key }}'
{% endif %}
{% endif %}
{% endif %}
{% for control_port in control_ports %}
    control_exporter{{ loop.index }}:
      type: "urn:otel:exporter:otlp_grpc"
      config:
        grpc_endpoint: http://127.0.0.1:{{ control_port }}
{% endfor %}
  connections:
  - from: {{ generator_label }}
    to: fanout
  - from: fanout["suv_port"]
    to: suv_exporter
{% for _ in control_ports %}
  - from: fanout["control_port{{ loop.index }}"]
    to: control_exporter{{ loop.index }}
{% endfor %}
