# Engine-wide settings
settings:
  http_admin:
    bind_address: 127.0.0.1:8085
{% set suv_receiver_type = suv_receiver_type | default("otlp") -%}
{% set suv_exporter_type = suv_exporter_type | default("otlp") -%}
{% set suv_receiver_plugin_urn = "urn:otel:otlp:receiver" -%}
{% if suv_receiver_type == "otap" -%}
  {% set suv_receiver_plugin_urn = "urn:otel:otap:receiver" -%}
{% endif -%}
{% set suv_exporter_plugin_urn = "urn:otel:otlp:exporter" -%}
{% if suv_exporter_type == "otap" -%}
  {% set suv_exporter_plugin_urn = "urn:otel:otap:exporter" -%}
{% endif -%}
{% set control_receiver_type = control_receiver_type | default("otlp") -%}
{% set control_exporter_type = control_exporter_type | default("otlp") -%}
{% set control_receiver_plugin_urn = "urn:otel:otlp:receiver" -%}
{% if control_receiver_type == "otap" -%}
  {% set control_receiver_plugin_urn = "urn:otel:otap:receiver" -%}
{% endif -%}
{% set control_exporter_plugin_urn = "urn:otel:otlp:exporter" -%}
{% if control_exporter_type == "otap" -%}
  {% set control_exporter_plugin_urn = "urn:otel:otap:exporter" -%}
{% endif -%}
{% set expect_failure = transformative | default(false) -%}
{% set suv_pipeline = pipeline_config | default("nodes:") -%}
{% set max_signal_count = max_signal_count | default(2000) -%}
{% set max_batch_size = max_batch_size | default(100) -%}
{% set signals_per_second = signals_per_second | default(100) -%}

{% set suv_addr = suv_addr | default("127.0.0.1:4318") -%}
{% set suv_endpoint = suv_endpoint | default("http://127.0.0.1:4317") -%}
{% set control_addr = control_addr | default("127.0.0.1:4316") -%}
{% set control_endpoint = control_endpoint | default("http://127.0.0.1:4316") -%}


pipeline_groups:
  validation_test:
    pipelines:
      # ======================================================================
      # Validation pipeline to validate equivalence
      # ======================================================================
      validate:
        quota:
          core_allocation:
            type: core_set
            set:
              - type: CoreRange
                start: 1
                end: 1
        nodes:
          suv_receiver:
            kind: receiver
            plugin_urn: "{{ suv_receiver_plugin_urn }}"
            out_ports:
              out_port:
                destinations:
                  - validation_exporter
                dispatch_strategy: round_robin
            config:
              listening_addr: "{{ suv_addr }}"
              {% if suv_receiver_type == "otap" -%}
              response_stream_channel_size: 256
              {% endif %}

          control_receiver:
            kind: receiver
            plugin_urn: "{{ control_receiver_plugin_urn }}"
            out_ports:
              out_port:
                destinations:
                  - validation_exporter
                dispatch_strategy: round_robin
            config:
              listening_addr: "{{ control_addr }}"
              {% if control_receiver_type == "otap" -%}
              response_stream_channel_size: 256
              {% endif %}
          validation_exporter:
            kind: exporter
            plugin_urn: "urn:otel:validation:exporter"
            config:
                expect_failure: {{ expect_failure }}
                control_input: control_receiver
                suv_input: suv_receiver

      # ======================================================================
      # System Under Validation pipeline
      # ======================================================================
      suv:
        quota:
          core_allocation:
            type: core_set
            set:
              - type: CoreRange
                start: 0
                end: 0
{{ suv_pipeline | indent(8, true)}}

      # ======================================================================
      # Pipeline generating traffic
      # ======================================================================
      traffic_gen:
        quota:
          core_allocation:
            type: core_set
            set:
              - type: CoreRange
                start: 2
                end: 2

        nodes:
          receiver:
            kind: receiver
            plugin_urn: "urn:otel:otap:fake_data_generator:receiver"
            out_ports:
              out_port:
                destinations:
                  - fanout
                dispatch_strategy: round_robin
            config:
              traffic_config:
                max_signal_count: {{ max_signal_count }}
                max_batch_size: {{ max_batch_size }}
                signals_per_second: {{ signals_per_second }}
                metric_weight: 0
                trace_weight: 0
                log_weight: 100
              registry_path: https://github.com/open-telemetry/semantic-conventions.git[model]

          fanout:
            kind: processor
            plugin_urn: "urn:otel:fanout_temp:processor"
            out_ports:
              suv_port:
                destinations:
                  - suv_exporter
                dispatch_strategy: round_robin
              control_port:
                destinations:
                  - control_exporter
                dispatch_strategy: round_robin
            config:
          suv_exporter:
            kind: exporter
            plugin_urn: "{{ suv_exporter_plugin_urn }}"
            config:
              grpc_endpoint: "{{ suv_endpoint }}"
              {% if suv_exporter_type == "otap" -%}
              compression_method: none
              arrow:
                payload_compression: none
              {% endif %}

          control_exporter:
            kind: exporter
            plugin_urn: "{{ control_exporter_plugin_urn }}"
            config:
              grpc_endpoint: "{{ control_endpoint }}"
              {% if control_exporter_type == "otap" -%}
              compression_method: none
              arrow:
                payload_compression: none
              {% endif %}