version: otel_dataflow/v1
policies:
  channel_capacity:
    control:
      node: 100
      pipeline: 100
    pdata: 100
  resources:
    core_allocation:
      type: core_set
      set:
        - start: {{core_start}}
          end: {{core_end}}
engine:
  telemetry:
    logs:
      level: info
groups:
  default:
    pipelines:
      main:
        nodes:
          receiver:
            type: urn:otel:receiver:otlp
            config:
              protocols:
                grpc:
                  listening_addr: 0.0.0.0:4317
                  wait_for_result: {% if wait_for_result | default(false) %}true{% else %}false{% endif %}
          exporter:
            type: urn:otel:exporter:kafka
            config:
              brokers: "{{kafka_hostname}}:9092"
              client_id: "dfe-kafka-producer"
{%- set signal = signal | default("logs") %}
{%- if signal == "logs" %}
              logs:
                topic: "otel-logs-otap"
                encoding: otap_proto
{%- elif signal == "metrics" %}
              metrics:
                topic: "otel-metrics-otap"
                encoding: otap_proto
{%- elif signal == "traces" %}
              traces:
                topic: "otel-spans-otap"
                encoding: otap_proto
{%- endif %}
        connections:
          - from: receiver
            to: exporter
