version: otel_dataflow/v1
policies:
  channel_capacity:
    control:
      node: 100
      pipeline: 100
    pdata: 100
  resources:
    core_allocation:
      type: core_set
      set:
        - start: {{core_start}}
          end: {{core_end}}
engine:
  telemetry:
    logs:
      level: info
groups:
  default:
    pipelines:
      main:
        nodes:
          receiver:
            type: urn:otel:receiver:otlp
            config:
              protocols:
                http:
                  listening_addr: 0.0.0.0:4318
          exporter:
            type: urn:otel:exporter:otlp_http
            config:
              http: {}
              endpoint: http://{{backend_hostname}}:1235
              client_pool_size: {{ client_pool_size | default(1) }}
        connections:
          - from: receiver
            to: exporter
