[package]
name = "otap-df-engine"
description = "Async pipeline engine"
version.workspace = true
authors.workspace = true
repository.workspace = true
license.workspace = true
publish.workspace = true
edition.workspace = true
rust-version.workspace = true

[lints]
workspace = true

[features]
testing = []
jemalloc = ["dep:tikv-jemalloc-ctl"]
jemalloc-testing = ["jemalloc"]
test-utils = []

[dependencies]
otap-df-channel = { path = "../channel" }
otap-df-pdata = { path = "../pdata" }
otap-df-config = { path = "../config" }
otap-df-state = { path = "../state" }
otap-df-telemetry = { path = "../telemetry" }
otap-df-telemetry-macros = { path = "../telemetry-macros" }

thiserror = { workspace = true }
serde_json = { workspace = true }
serde = { workspace = true }
tokio = { workspace = true }
linkme = { workspace = true }
async-trait = { workspace = true }
futures = { workspace = true }
flume = { workspace = true }
bitflags = { workspace = true }
bytemuck = { workspace = true }
bytes = { workspace = true }
smallvec = { workspace = true }
socket2 = { workspace = true }
uuid = { workspace = true }
once_cell = { workspace = true }
data-encoding = { workspace = true }
prost = { workspace = true }
byte-unit = { workspace = true }
cpu-time = { workspace = true }
nix = { workspace = true, features = ["resource"] }

[target.'cfg(not(windows))'.dependencies]
tikv-jemalloc-ctl = { workspace = true, optional = true }

[dev-dependencies]

[target.'cfg(not(windows))'.dev-dependencies]
tikv-jemallocator = { workspace = true }
