receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317

exporters:
  kafka:
    brokers:
      - '{{kafka_hostname}}:9092'
    protocol_version: '3.0.0'
    producer:
      flush_max_messages: 1000
{%- if signal == "logs" %}
    logs:
      topic: otel-logs
      encoding: otlp_proto
{%- elif signal == "metrics" %}
    metrics:
      topic: otel-metrics
      encoding: otlp_proto
{%- elif signal == "traces" %}
    traces:
      topic: otel-spans
      encoding: otlp_proto
{%- endif %}

service:
  telemetry:
    metrics:
      readers:
        - pull:
            exporter:
              prometheus:
                host: '0.0.0.0'
                port: 8086
  pipelines:
    {{signal}}:
      receivers: [otlp]
      exporters: [kafka]
