receivers:
  otelarrow:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
    admission:
      request_limit_mib: {{ admission_request_mib | default(128) }}
      waiting_limit_mib: {{ admission_waiting_mib | default(32) }}

processors:
  attributes:
    actions:
{%- for p in rename_pairs %}
      - key: {{ p.destination }}
        from_attribute: {{ p.source }}
        action: insert
      - key: {{ p.source }}
        action: delete
{%- endfor %}

exporters:
  otlp:
    endpoint: '{{backend_hostname}}:1235'
    compression: {{ compression_method | default("none") }}
    tls:
      insecure: true
    sending_queue:
      enabled: {{ sending_queue_enabled | default(true) }}
      wait_for_result: {{ wait_for_result | default(true) }}
      block_on_overflow: {{ block_on_overflow | default(true) }}
      sizer: {{ sending_queue_sizer | default("requests") }}
      queue_size: {{ sending_queue_size | default(100) }}
      num_consumers: {{ sending_queue_otlp_consumers | default(5) }}
      batch:
        enabled: {{ sending_queue_batch_enabled | default(false) }}
        sizer: {{ sending_queue_sizer | default("requests") }}

service:
  telemetry:
    metrics:
      readers:
        - pull:
            exporter:
              prometheus:
                host: '0.0.0.0'
                port: 8086
  pipelines:
    logs:
      receivers: [otelarrow]
      processors: [attributes]
      exporters: [otlp]
    metrics:
      receivers: [otelarrow]
      exporters: [otlp]
    traces:
      receivers: [otelarrow]
      exporters: [otlp]
