# This action inserts a placeholder status for a future manual perf-test to
# write to on pull request events. It's required because the context of a manual
# workflow run can't directly be tied to a PR. Instead we insert a pending status
# here and then update it to success/fail in the manual workflow.
name: Require Manual Perf Tests (marker)

on:
  pull_request:
    types: [opened, synchronize]

permissions:
  contents: read
  pull-requests: read
  statuses: write

jobs:
  mark-pending:
    runs-on: ubuntu-latest
    steps:
      - name: Set pending status requiring manual perf tests
        uses: actions/github-script@v7
        with:
          script: |
            const sha = context.payload.pull_request.head.sha;
            await github.rest.repos.createCommitStatus({
              owner: context.repo.owner,
              repo: context.repo.repo,
              sha: sha,
              state: 'pending',
              context: 'perf-tests',
              description: 'Manual pipeline performance tests have not been run yet',
              target_url: `${context.serverUrl}/${context.repo.owner}/${context.repo.repo}/actions/workflows/pipeline-perf-test-manual-pr.yaml`
            });
