# This workflow is for various linting tasks that act in bulk over the repository.
# Scoped linting (i.e. code formatting) should be done in the respective language-specific workflows.
name: Repo Lint

permissions: read-all

on:
  pull_request:
    branches:
      - main
  merge_group:

jobs:
  markdownlint:
    runs-on: ubuntu-latest

    steps:
    - name: Harden the runner (Audit all outbound calls)
      uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
      with:
        egress-policy: audit

    - name: check out code
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

    - name: run markdownlint
      uses: DavidAnson/markdownlint-cli2-action@992badcdf24e3b8eb7e87ff9287fe931bcb00c6e # v20.0.0
      with:
        globs: |
          **/*.md

  sanity:
    runs-on: ubuntu-latest

    steps:
    - name: check out code
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

    - name: run sanitycheck.py
      run: python3 ./tools/sanitycheck.py

  renovate-config-validation:
    runs-on: ubuntu-latest

    steps:
    - name: check out code
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

    - name: Set up Node.js
      uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
      with:
        node-version: '24'

    - name: Validate Renovate config
      run: npx --yes --package renovate -- renovate-config-validator --strict

  license-header-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: korandoru/hawkeye@2f80559b06187bcd1aa7bca5138fe5e5c53e275f # v6.3.0
