name: Rust-Audit
permissions:
  contents: read

on:
  push:
    branches:
      - main
    paths:
      - 'rust/otap-dataflow/Cargo.toml'
  schedule:
    - cron: '0 2 * * 1' # run at 2 AM UTC every Monday

jobs:
  audit:
    strategy:
      fail-fast: false
      matrix:
        folder: [otap-dataflow]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: dtolnay/rust-toolchain@f7ccc83f9ed1e5b9c81d8a67d7ad1a747e22a561
        with:
          toolchain: stable
      - name: cargo install cargo-audit
        run: cargo install cargo-audit
      - name: cargo audit ${{ matrix.folder }}
        run: cargo audit
        working-directory: ./rust/${{ matrix.folder }}
