name: Rust-CI
permissions:
  contents: read

on:
  # run this job on every push and pull request
  # only for changes in the rust directory
  push:
    paths:
      - 'rust/**'
  pull_request:
    paths:
      - 'rust/**'

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        folder: [beaubourg, otel-arrow-rust, experimental/query_abstraction]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: arduino/setup-protoc@v3
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - uses: dtolnay/rust-toolchain@stable
      - name: cargo test ${{ matrix.folder }}
        run: cargo test
        working-directory: ./rust/${{ matrix.folder }}

  fmt:
    strategy:
      fail-fast: false
      matrix:
        folder: [beaubourg, otel-arrow-rust, experimental/query_abstraction]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: arduino/setup-protoc@v3
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - uses: dtolnay/rust-toolchain@nightly
        with:
          components: rustfmt
      - name: cargo fmt ${{ matrix.folder }}
        run: cargo fmt --all -- --check 
        working-directory: ./rust/${{ matrix.folder }}

  clippy:
    strategy:
      fail-fast: false
      matrix:
        folder: [beaubourg, otel-arrow-rust, experimental/query_abstraction]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: arduino/setup-protoc@v3
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy
      - name: cargo clippy ${{ matrix.folder }}
        # To not block initial checkin of CI, removing build break on warnings for now
        # TODO: re-enable '-- -D warnings' when we have fixed all clippy warnings
        run: cargo clippy --all-targets --all-features
        working-directory: ./rust/${{ matrix.folder }}

#  coverage:
#    name: Code coverage
#    runs-on: ubuntu-latest
#    steps:
#      - name: Checkout repository
#        uses: actions/checkout@v2
#
#      - name: Install stable toolchain
#        uses: actions-rs/toolchain@v1
#        with:
#          toolchain: stable
#          override: true
#      - name: Run cargo-tarpaulin
#        uses: actions-rs/tarpaulin@v0.1
#        with:
#          version: '0.15.0'
#          args: '--exclude-files vendor/ -- --test-threads 1'
  
  cargo_deny:
    strategy:
      fail-fast: false
      matrix:
        folder: [beaubourg, otel-arrow-rust, experimental/query_abstraction]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: arduino/setup-protoc@v3
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - uses: dtolnay/rust-toolchain@stable
      - uses: EmbarkStudios/cargo-deny-action@v2
        with:
          manifest-path: ./rust/${{ matrix.folder }}/Cargo.toml

  bench:
    strategy:
      fail-fast: false
      matrix:
        folder: [beaubourg, otel-arrow-rust, experimental/query_abstraction]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: arduino/setup-protoc@v3
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - uses: dtolnay/rust-toolchain@stable
      - name: cargo bench ${{ matrix.folder }}
        run: cargo bench
        working-directory: ./rust/${{ matrix.folder }}

  docs:
    strategy:
      fail-fast: false
      matrix:
        folder: [beaubourg, otel-arrow-rust, experimental/query_abstraction]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: arduino/setup-protoc@v3
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - uses: dtolnay/rust-toolchain@stable
      - name: cargo doc ${{ matrix.folder }}
        run: cargo doc --no-deps
        working-directory: ./rust/${{ matrix.folder }}